body{
  padding-top: 150px ;
  font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root{
  --5xruby-col-gap: 20px;
}
.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(240, 241, 240);
  font-size: 0;
  background-color: #fff;
  z-index: 10;
}
.header .logo{
  width: 50%;
  display: flex;
}
.header img{
  max-width: 40px;
}
.header a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.header h1{
  width: 50%;
  margin: auto 10px;
  font-weight: bold;
}
.header h1 a{
  padding: 10px;
}
.header .nav{
  display: flex;
  width: 50%;
  justify-content: flex-end;
} 
.header h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header a:hover{
  color: #ff133e;
}
.header .nav a{
  padding: 20px;
}
.header h2::after{
  content: "";
  height: 3px;
  width: 0%;
  background-color: red;
  transition: .5s;
}
.header h2:hover::after{
  width: 75%;
}
section{
  margin: auto;
  max-width: 1200px;
  padding: 0 var(--5xruby-col-gap);
}
.row{
  margin-left: calc( var(--5xruby-col-gap) * -1);
  margin-right: calc( var(--5xruby-col-gap) * -1);
}
[class*="col-"]{
  box-sizing: border-box;
  padding: 0 var(--5xruby-col-gap);
}
.banner img{
  border-radius: 5px;
  width: 100%;
  vertical-align: top;
}
.intro h2{
  font-size: 24px;
  font-weight: bold;
  padding: 30px 0;
  text-align: center;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.intro img{
  width: 55%;
  padding: 20px;
}
.intro h3{
  font-size: 20px;
  text-align: center;
  color: #394150;
}
.intro .pic{
  margin: auto;
  text-align: center;
}
.intro .txt h3{
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
}
.intro .txt p{
  text-align: center;
  line-height:24px;
  color: #394150;
}
.teacher{
  background-color: rgba(249, 250, 251);
  color: #394150;
  padding: 0 var(--5xruby-col-gap);
  margin: 200px 0 0;
  position: relative;
}
.teacher::before{
  content: "";
  background-color: rgba(249, 250, 251); 
  width: 100%;
  height: 3%;
  bottom: 100%;
  clip-path: polygon(30% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 0;
}
.teacher h3{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 50px 0 20px 0;
}
.teacher h3::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.teacher h4{
  font-size: 20px;
  line-height: 30px;
}
.teacher .item{
  background-color: #fff;
  margin: 30px 0 0;
  padding: var(--5xruby-col-gap);
  border-radius: 5px;
}
.teacher .pic{
  text-align: center;
}
.teacher .pic img{
  width: 150px;
  border-radius: 50%;
  padding: 30px;
}
.teacher .item .top .txt p{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teacher .txt p::after{
content: "";
height: 2px;
width: 40px;
background-color: red;
margin: 10px 0 0 0;
}
.teacher .txt h4{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}
.teacher .icon{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teacher .icon img{
  width: 35px;
}
.teacher .icon::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgba(227, 229, 233);
  margin: 10px 0;
}
.teacher .item .icon img:hover{
  filter: brightness(.7);
}
.teacher .txt p{
  font-size: 16px;
  line-height: 24px;
  padding: 5px 0;
}
.teacher .txt b{
  font-weight: bold;
}
.teacher .txt a{
  text-decoration: none;
  color: #ff133e;
}
.teacher .txt a:hover{
  text-decoration: underline;
}
.teacher-courses p{
  padding: 20px 0;
  display: flex;
}
.teacher-courses p::after{
  content: "";
  width: 75%;
  height: 1px;
  background-color: rgba(227, 229, 233);
  margin: auto;
}
.teacher-courses a{
  color: #ff133e;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  border: 1px solid #ff133e;
  display: inline-block;
}
.teacher-courses a:hover{
  background-color: #ff133e;
  color: #fff;
}
.news{
  background-color: rgba(249, 250, 251);
  padding: 0 var(--5xruby-col-gap);
} 
.news h2{
  color: #394150;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 50px 0;
  font-weight: bold;
}
.news h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.news .item a{
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  color: #394150;
  font-weight: bold;
}
.news .item a:hover{
  color: #ff133e;
}
.news .item p{
  font-weight: normal;
  padding: 10px 0 20px 0;
}
.btn{
  text-align: center;
  padding: 50px 0 200px;
}
.btn a{
  font-size: 18px;
  font-weight:normal;
  text-decoration: none;
  background-color: #ff133e;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
}
.news .btn a:hover{
  background-color: rgb(180, 48, 48);
}
.short-course{
  background-color: rgba(42,48,61);
  padding: 0 var(--5xruby-col-gap);
  position: relative;
}
.short-course::before{
  content: "";
  background-color: rgba(42,48,61);
  width: 100%;
  height: 3%;
  bottom: 100%;
  clip-path: polygon(30% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 0;
}
.short-course::after{
  content: "";
  background-color: rgba(42,48,61);
  width: 100%;
  height: 5%;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 70% 100%);
  position: absolute;
  left: 0;
  z-index: 1;
}
.short-course h2{
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 100px 0 20px;
  display: flex;
  flex-direction: column;
} 
.short-course h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.short-course h3{
  color: rgba(161, 166, 176); 
  font-size: 20px;
  line-height: 30px;
}
.course-list{
  background-color: #ff133e;
  position: relative;
  padding: 30px var(--5xruby-col-gap);
  margin: 100px 0 100px 40px;
}
.course-list::before{
  content: "";
  background-color: #ff133e;
  width: 100%;
  height: 15%;
  bottom: 100%;
  clip-path: polygon(70% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 0;
}
.course-list::after{
  content: "";
  background-color: #ff133e;
  width: 100%;
  height: 15%;
  top: 100%;
  clip-path: polygon(0 0, 30% 100%, 100% 0);
  position: absolute;
  left: 0;
}
.course-list h3{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}
.course-list p{
  color: #fff;
  line-height: 28px;
  margin: 20px 0;
}
.course-list a{
  color: #fff;
  text-decoration: none;
  display: flex;
  padding: 5px;
}
.course-list a:hover{
  text-decoration: underline;
}
.course-list a::after{
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  margin: 0 5px;
}
.soon-course .item{
  background-color: #fff;
  margin: var(--5xruby-col-gap) 60px;
  border-radius: 5px;
  border-bottom: 10px solid transparent;
}
.soon-course .item:hover{
  position: relative;
  bottom: 5px;
  border-bottom: 10px solid #ff133e;
}
.soon-course h3{
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.soon-course .pic img{
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: top;
}
.soon-course .date{
  padding: 20px 10px;
}
.soon-course .date span{
  background-color: #fff;
  border: 1px solid rgb(227, 229, 231);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}
.soon-course .txt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.soon-course .txt::before{
  content: "";
  height: 2px;
  width: 90%;
  background-color: rgba(227, 229, 233);
}
.soon-course .txt .left{
  display: flex;
  align-items: center;
  color: rgb(143, 147, 151);
}
.soon-course .txt .left img{
  width: 15%;
}
.soon-course .item .txt .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ff133e;
}
.soon-course .txt .right img{
  width: 20%;
}
.soon-course .btn{
  padding: 40px 0 80px;
}
.learn{
  background-color: rgba(249, 250, 251);
  padding: 100px var(--5xruby-col-gap);
  position: relative;
}
.learn::after{
  content: "";
  background-color: rgba(249, 250, 251);
  width: 100%;
  height: 5%;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 30% 100%);
  position: absolute;
  left: 0;
}
.learn h2{
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: column;
} 
.learn h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.learn p{
  font-size: 20px;
  line-height: 30px;
  padding: var(--5xruby-col-gap) 0;
}
.learn .item{
  background-color:#fff;
  margin: var(--5xruby-col-gap);
  border-radius: 5px;
  border-bottom: 10px solid transparent;
}
.learn .item:hover{
  position: relative;
  top: -5px;
  border-bottom: 10px solid #ff133e;
}
.learn .pic{
  text-align: center;
}
.learn img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.learn .txt{
  padding: var(--5xruby-col-gap);
}
.learn h3{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.learn h3::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: rgb(227, 229, 231);
  margin: 10px 0 0 0;
}
.learn p{
  font-size: 16px;
}
.learn span{
  display: flex;
  color: #ff133e;
}
.learn span::after{
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ff133e;
  margin: 0 5px;
}
.learn span:hover{
  text-decoration: underline;
}
.share{
  padding: 100px var(--5xruby-col-gap);
}
.share h2{
  color: #394150;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.share h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.share .col-12{
  display: none;
}
.share .row .col-12:nth-child(1){
  display: block;
  border: 1px solid rgba(227, 229, 233); 
  border-radius: 5px;
  background-color:#fff;
  margin: 15px 0;
  padding: 20px;
  line-height: 26px;
}
.share .item img{
  max-width: 40px;
  padding: 0 0 0 90%;
}
.article h2{
  color: #394150;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.article h2::after{
  content: "";
  height: 2px;
  width: 2em;
  background-color: red;
  margin: 10px 0 0 0;
}
.article .pic{
  margin: 30px 0;
}
.article .pic img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5px;
}
.article .txt a{
  color: #394150;
  font-size: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
.article a:hover{
  color: #ff133e;
}
.article p{
  font-size: 14px;
  color: #bcbdc0;
  padding: 10px 0;
}
.about{
  background-color:rgb(42, 48, 61);
  padding: 50px var(--5xruby-col-gap);
  position: relative;
}
.about::before{
  content: "";
  background-color: rgba(42,48,61);
  width: 100%;
  height: 5%;
  bottom: 100%;
  clip-path: polygon(30% 0, 100% 100%, 0 100%);
  position: absolute;
  left: 0;
}
.about .information .txt{
  display: flex;
  flex-wrap: wrap;
}
.about .information .txt a{
  margin: 10px 200px 0 0;
  color: #fff;
  text-decoration: none;
}
.about .item{
  padding: var(--5xruby-col-gap) 0;
}
.about .item a{
  display: flex;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}
.about p{
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
}
.about a:hover{
  color: #ff133e;
}
.about .row{
  display: flex;
  flex-wrap: wrap;
}
.about .icon{
  justify-content: center;
  display: flex;
}
.about .icon img{
  width: 40px;
  margin: 0 20px;
}
.about .icon a img:hover{
  filter: brightness(1.5);
}
.footer{
  background-color: rgb(25, 35, 44);
  padding: 20px 0;
}
.footer p{
  color: rgb(161, 163, 165);
  font-size: 14px;
  text-align: center;
} 
.messenger img{
  max-width: 80px;
  position: fixed;
  bottom: 20px;
  right: 0;
}
.col-1{ width: 8.333333%; }
.col-2{ width: 16.666666%;}
.col-3{ width: 25%;       }
.col-4{ width: 33.333333%;}
.col-5{ width: 41.666666%;}
.col-6{ width: 50%;       }
.col-7{ width: 58.333333%;}
.col-8{ width: 66.666666%;}
.col-9{ width: 75%;       }
.col-10{ width: 83.333333%;}
.col-11{ width: 91.666666%;}
.col-12{ width: 100%;      }

@media screen and (min-width: 768px){
  .col-md-1{ width: 8.333333%; }
  .col-md-2{ width: 16.666666%;}
  .col-md-3{ width: 25%;       }
  .col-md-4{ width: 33.333333%;}
  .col-md-5{ width: 41.666666%;}
  .col-md-6{ width: 50%;       }
  .col-md-7{ width: 58.333333%;}
  .col-md-8{ width: 66.666666%;}
  .col-md-9{ width: 75%;       }
  .col-md-10{ width: 83.333333%;}
  .col-md-11{ width: 91.666666%;}
  .col-md-12{ width: 100%;      }
  .intro h2{
    margin: 0;
    font-size: 30px;
  }
  .intro .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .teacher .item .top,
  .news .row,
  .soon-course .row{
    display: flex;
    flex-wrap: wrap;
  }
  .teacher .row:nth-child(1){
    width: 80%;
    margin: auto;
  }
  .teacher h3,
  .news h2,
  .short-course h2,
  .learn h2,
  .share h2,
  .article h2
  {
    font-size: 30px;
  }
  .teacher .item .top .txt{
    padding: 40px 0 0 0;
  }
  .teacher .item .top .txt p{
    align-items:flex-start;
  }
  .teacher .icon{
    justify-content: flex-start;
  }
  .teacher .icon::after{
    content: none;
  }
  .teacher .top,
  .share .row,
  .article .row{
    display: flex;
  }
  .teacher .top::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgba(227, 229, 233);
    margin: 10px 0;
  }
  .soon-course .item{
    margin: 10px 0 ;
  }
  .soon-course .txt{
    font-size: 14px;
  }
  .soon-course h3{
    font-size: 24px;
  }
  .learn p{
    font-size: 20px;
  }
  .learn .item{
    margin: 30px 20%;
  }
  .share .row .col-md-6:nth-child(1),
  .share .row .col-md-6:nth-child(2){
    display: block;
    border: 1px solid rgba(227, 229, 233); 
    border-radius: 5px;
    background-color:#fff;
    margin: 15px;
    padding: 20px;
    line-height: 26px;
  }
  .about .information .txt a{
    margin: 10px 0 0 0;
  }
}

@media screen and (min-width: 1024px){
  .col-lg-1{ width: 8.333333%; }
  .col-lg-2{ width: 16.666666%;}
  .col-lg-3{ width: 25%;       }
  .col-lg-4{ width: 33.333333%;}
  .col-lg-5{ width: 41.666666%;}
  .col-lg-6{ width: 50%;       }
  .col-lg-7{ width: 58.333333%;}
  .col-lg-8{ width: 66.666666%;}
  .col-lg-9{ width: 75%;       }
  .col-lg-10{ width: 83.333333%;}
  .col-lg-11{ width: 91.666666%;}
  .col-lg-12{ width: 100%;      }
  .teacher .row{
    display: flex;
    flex-wrap: wrap;
  }
  .teacher .item{
    height: 600px;
  }
  .short-course .row{
    display: flex;
  }
  .soon-course .item{
    height: 310px;
  }
  .soon-course .txt{
    font-size: 12px;
  }
  .learn .row:nth-child(1){
    width: 70%;
  }
  .learn .row{
    display: flex;
  }
  .learn .item{
    margin: 0;
  }
  .share .row .col-md-6:nth-child(3),
  .share .row .col-md-6:nth-child(4){
    display: block;
    border: 1px solid rgba(227, 229, 233); 
    border-radius: 5px;
    background-color:#fff;
    margin: 15px;
    padding: 20px;
    line-height: 26px;
  }
  .about .information .txt a{
    margin: 10px 90px 0 0;
  }
}

/* @media screen and (min-width: 1200px){
  .col-xl-1{ width: 8.333333%; }
  .col-xl-2{ width: 16.666666%;}
  .col-xl-3{ width: 25%;       }
  .col-xl-4{ width: 33.333333%;}
  .col-xl-5{ width: 41.666666%;}
  .col-xl-6{ width: 50%;       }
  .col-xl-7{ width: 58.333333%;}
  .col-xl-8{ width: 66.666666%;}
  .col-xl-9{ width: 75%;       }
  .col-xl-10{ width: 83.333333%;}
  .col-xl-11{ width: 91.666666%;}
  .col-xl-12{ width: 100%;      }
} */