body{
  padding-top: 150px ;
  font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
:root{
  --5xruby-col-gap: 20px;
}
.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(240, 241, 240);
  font-size: 0;
  background-color: #fff;
  z-index: 10;
}
.header .logo{
  width: 50%;
  display: flex;
}
.header img{
  max-width: 40px;
}
.header a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.header h1{
  width: 50%;
  margin: auto 10px;
  font-weight: bold;
}
.header h1 a{
  padding: 10px;
}
.header .nav{
  display: flex;
  width: 50%;
  justify-content: flex-end;
} 
.header h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header a:hover{
  color: #ff133e;
}
.header .nav a{
  padding: 20px;
}
.header h2::after{
  content: "";
  height: 3px;
  width: 0%;
  background-color: red;
  transition: .5s;
}
.header h2:hover::after{
  width: 75%;
}
section{
  margin: auto;
  max-width: 1200px;
  padding: 0 var(--5xruby-col-gap);
}
.row{
  margin-left: calc( var(--5xruby-col-gap) * -1);
  margin-right: calc( var(--5xruby-col-gap) * -1);
}
[class*="col-"]{
  box-sizing: border-box;
  padding: 0 var(--5xruby-col-gap);
}